<!doctype html>
<html>
<head>
    <title>Weekly Schedule</title>
    <link href="images/mongo.ico" rel="shortcut icon">
    <style>
    body {
        background-image: url('https://www.walldevil.com/wallpapers/a87/forest-wallpapers-wallpaper-background-deciduous-walls.jpg');
    }
    div {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-family: Verdana;
        font-size: 36px;
        width: 800px;
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-left: -400px;
        padding: 10px 0;
    }
    span {
        color: #0088ff;
        font-style: italic;
    }
    </style>
</head>
<body>
<div>Sorry, I couldn't find the <span><%= scheduleName %></span> schedule. Would you like some <a href="https://www.amazon.com/s/ref=nb_sb_noss/157-1133041-8728211?url=search-alias%3Daps&field-keywords=tea">tea</a> instead?</div>
</body>
</html>