<!doctype html>
<html>
<head>
    <title>Weekly Schedule</title>
    <link href="images/mongo.ico" rel="shortcut icon">
    <style>
    body {
        background-image: url('images/deciduous-forest.jpg');
    }
    div {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-family: Verdana;
        font-size: 36px;
        width: 850px;
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-left: -425px;
        padding: 10px 0;
    }
    span {
        color: #0088ff;
        font-style: italic;
    }
    </style>
</head>
<body>
<div><span><%= scheduleName %></span> isn't a valid schedule. Relax your mind, have some <a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=herbal+tea">tea</a>, take in the forest... and you might just find what you were looking for.</div>
</body>
</html>