<html>
<head>
    <title>Weekly Schedule</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <link href="images/mongo.ico" rel="shortcut icon">
</head>
<body>

<div id="containDays"><!--contain_width x 40-->
    <div class="days">Times</div>
    <div class="days">S</div>
    <div class="days">M</div>
    <div class="days">T</div>
    <div class="days">W</div>
    <div class="days">Th</div>
    <div class="days">F</div>
    <div class="days">S</div>
</div>

<div id="contain"><!--contain_width x contain_height-->
</div>

<select id="dropdown"></select>
<button id="make-default">Make Default</button>
<button id="save">Save</button>
<button id="edit">Edit</button>
<button id="delete">Delete</button>
<button id="clone">Clone</button>
<textarea id="text-input" style="display:none"></textarea>

<script src="javascripts/jquery.js"></script>
<script src="javascripts/events.js"></script>
<script src="javascripts/common.js"></script>
<script src="javascripts/dom.js"></script>
<script>
ScheduleView.setup();

$.ajax({
    url: "/schedule",
    method: "GET",
    success: loadOptions
});
</script>

</body>
</html>